apiVersion: v1
data:
  jwt_publickey: change-me
  jwt_privatekey: change-me
kind: Secret
type: Opaque
metadata:
  name: james-jwt-key
  namespace: james-mailserver
---
apiVersion: v1
data:
  james-user: change-me
  james-password: change-me
kind: Secret
type: Opaque
metadata:
  name: db-cassandra-account-james
  namespace: james-mailserver
---
apiVersion: v1
data:
  james-user: change-me
  james-password: change-me
kind: Secret
type: Opaque
metadata:
  name: db-es-account-james
  namespace: james-mailserver
---
apiVersion: v1
data:
  dkim.key: 
kind: Secret
type: Opaque
metadata:
  name: dkim-private-key 
  namespace: james-mailserver
---
apiVersion: v1
data:
  OS_S3_ENDPOINT: change-me
  OS_S3_REGION: change-me
  OS_S3_ACCESSKEYID: change-me
  OS_S3_SECRETKEY: change-me
kind: Secret
type: Opaque
metadata:
  name: s3-james-credentials
  namespace: james-mailserver
---
apiVersion: v1
data:
  rabbitmq-user: change-me
  rabbitmq-password: change-me
kind: Secret
type: Opaque
metadata:
  name: rabbitmq-account-james
  namespace: james-mailserver
